* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 1060px) {
  /*index*/
  .tercer-container {
    display: flex;
    flex-direction: column;
    height: 200vh;
    background-image: url(../img/Human\ Evolution\ Interactive\ Timeline.png);
  }
  .container-cartas {
    display: flex;
  }
  .carta {
    display: flex;
  }
  .carta div {
    height: 50px;
  }
  /*locales*/
  .titulo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .titulo p {
    display: flex;
    justify-content: center;
    width: auto;
  }
}
@media screen and (max-width: 576px) {
  /*locales*/
  .segundo-container {
    width: 100%;
  }
  .titulo {
    width: 100%;
  }
  .mapa {
    width: 100%;
    margin: 30px;
    padding: 0;
    height: auto;
    width: auto;
    border: 2px solid black;
  }
  /*contactanos*/
  .form-login {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .form-login h3 {
    text-decoration: underline;
  }
  form {
    width: 100%;
  }
  main {
    width: 100%;
  }
  footer {
    background-color: rgb(248, 220, 220);
    width: 100%;
  }
}
.container-cartas {
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  border-bottom: 1px solid black;
}
.container-cartas h3 {
  font-size: 23px;
}

.carta {
  width: 30%;
  padding: 4%;
  border: 2px solid black;
  margin: 30px;
  height: 300px;
  border-radius: 10px;
}

.carta-oferta {
  border: solid rgb(0, 0, 0);
  background-color: rgb(239, 223, 191);
  display: flex;
  justify-content: space-evenly;
  margin: 0px 20px 20px;
}
.carta-oferta img {
  display: flex;
  height: 200px;
  width: 300px;
}
.carta-oferta h4 {
  padding: 2%;
  font-family: "Times New Roman", Times, serif;
  text-decoration: underline;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.carta-oferta p {
  padding: 2%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 800px;
}

.submit-button {
  margin-top: 3%;
}

/*index*/
.titulo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: 92vh;
  color: black;
  border: 0px;
  width: 100%;
  background-image: url(../img/Human\ Evolution\ Interactive\ Timeline.png);
}
.titulo p {
  display: flex;
  text-align: center;
  margin: 0 30px 0 30px;
  justify-content: top;
}
.titulo h2 {
  text-decoration: underline;
  font-size: xx-large;
}
.titulo div {
  margin-top: 5%;
}

.tercer-container {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url(../img/Human\ Evolution\ Interactive\ Timeline.png);
}

.container-cartas {
  display: flex;
  align-items: center;
  height: 100%;
}

.carta {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.titulo-tercer-container {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: large;
  background-color: rgb(255, 255, 255);
  height: 80px;
}

/*locales*/
.container-maps {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-image: url(../img/Human\ Evolution\ Interactive\ Timeline.png);
  border-bottom: 2px solid black;
}

.div-container-maps {
  height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: url(../img/Human\ Evolution\ Interactive\ Timeline.png);
}

.mapa {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  margin: 70px;
}
.mapa div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mapa span {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  width: 100%;
  margin: 10px;
}

footer {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 150px 10px;
  grid-template-areas: "a b" "c c";
  background-color: rgb(255, 255, 255);
  padding-top: 2%;
  padding-bottom: 0%;
  border-top: 2px solid black;
}

.div-footer-uno {
  grid-area: a;
  display: flex;
  justify-content: center;
}
.div-footer-uno h2 {
  width: 100%;
  text-align: center;
}
.div-footer-uno p {
  text-align: center;
}

.div-footer-dos {
  grid-area: b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.div-footer-dos h2 {
  width: 100%;
  text-align: center;
}
.div-footer-dos a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: space-between;
}
.div-footer-dos ul {
  width: 100%;
  text-align: center;
  padding: 0px;
}
.div-footer-dos li {
  display: inline-block;
}
.div-footer-dos i {
  display: flex;
  margin: 10px;
  font-size: 25px;
}

.div-footer-tres {
  grid-area: c;
  display: flex;
  justify-content: center;
  font-size: 10px;
}

.titulo h2 {
  text-decoration: underline;
  font-size: xx-large;
}

.titulo div {
  margin-top: 5%;
}

.form-login {
  margin: 20px 20%;
}
.form-login h3 {
  text-align: center;
  align-items: center;
}

.form-group {
  margin: 1% 0%;
}

.div-container-form {
  background-image: url(../img/Human\ Evolution\ Interactive\ Timeline.png);
  height: 130vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.nav-li:hover {
  background-color: #ddddd8;
  transition: 0.3s;
}

.div-footer-dos li:hover {
  background-color: rgb(190, 177, 177);
  transition: 0.3s;
}/*# sourceMappingURL=main.css.map */