@media screen and (max-width:1060px) {
    /*index*/
    .tercer-container {
        display: flex;
        flex-direction: column;
        height: 200vh;
        background-image: url(../img/Human\ Evolution\ Interactive\ Timeline.png)
    }
    .container-cartas{
        display:flex;
    }
    .carta{
        display: flex;

        div{
            height: 50px;
        }
    }
    
    /*locales*/

    .titulo {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        p {
            display: flex;
            justify-content: center;
            width: auto;
        }
    }
}

@media screen and (max-width:576px) {

    /*locales*/

    .segundo-container {
        width: 100%;
    }

    .titulo {
        width: 100%;
    }

    .mapa {
        width: 100%;
        margin: 30px;
        padding: 0;
        height: auto;
        width: auto;
        border: 2px solid black;
    }


    /*contactanos*/

    .form-login {
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3 {
            text-decoration: underline;
        }
    }

    form {
        width: 100%;
    }

    main {
        width: 100%;
    }

    footer {
        background-color: rgb(248, 220, 220);
        width: 100%;
    }
}