/*footer*/

footer {
    width: 100%;
    background-color: map-get($paleta_de_colores,primary );
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 150px 10px;
    grid-template-areas: 'b b'
        'c c';
    background-color: rgb(255, 255, 255);
    padding-top: 2%;
    padding-bottom: 0%;
    border-top: 2px solid black;
}

.div-footer-uno {
    grid-area: a;
    display: flex;
    justify-content: center;
    background-color: beige;

    h2 {
        width: 100%;
        text-align: center;
    }

    p {
        text-align: center;
    }
}

.div-footer-dos {
    grid-area: b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    h2 {
        width: 100%;
        text-align: center;
    }

    a {
        text-decoration: none;
        color: black;
        display: flex;
        justify-content: space-between;
    }

    ul {
        width: 100%;
        text-align: center;
        padding: 0px;
    }

    li {
        display: inline-block;
    }

    i {
        display: flex;
        margin: 10px;
        font-size: 25px;
    }
}
