.form-login {
    margin: 20px 20%;
    
    h3 {
        text-align: center;
        align-items: center;
    }
}

.form-group {
    margin: 1% 0%;
}
.div-container-form{
    background-image:url(../../img/fondo.png);
    height: 130vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}